.table--wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;
}

.table--container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 2.5px;
}

thead {
    background: cornflowerblue;
    color: #fff;
}

th {
    padding: 15px;
    text-align: left;
}

tbody {
    background: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
}

td:first-child,
th:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:last-child,
th:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* tr:nth-child(even) {
    background: #fff;
} */

tfoot {
    background: cornflowerblue;
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
}

.table--container button {
    color: green;
    background: none;
    cursor: pointer;
}

div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #fff;
    border-radius: 15px;
    border: 2px solid #ffffffa1;
    color: #333;
    margin-right: 0.5em;
}

div.pager span.active {
    background: cornflowerblue;
}

.status{
    display: flex;
    height: 25px;
    width: 100px;
    justify-content: center;
    align-items: center;
    background: rgb(255, 233, 192);
    border-radius: 13px;
    /* border: 2px solid #ffffffa1; */
    gap: 5px;
    padding-left: 1px;
    padding-right: 1px;
    color: orange;
}

.detail{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.point{
    color: orange;
    font-size: 25px;
}

.info {
    background: #fff;
}

.info div{
    height: 250px;
}

  